<!--
  Generated template for the ButtonMenu component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-toolbar>
  <ion-buttons left *ngIf="showBack">
    <button (click)="onClickBack()">
      <ion-icon name='arrow-back'></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>
      <img *ngIf="thumbnail" class="thumb_title" src={{thumbnail}}>
      {{title}}
    </ion-title>
  <ion-buttons right *ngIf="showBurger">
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
